.landing-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
} */

.page {
  min-height: calc(100vh - 70px);
}

.info h1 {
  font-weight: 700;
}

.info p {
  color: #6c757d;
}

.main-img {
  display: none;
}

@media (min-width: 992px) {
  .main-img {
    display: block;
  }
}
